/* Estilos para la página de restauración de contraseña */
.body-restore {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.body-restore .container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 360px;
    max-width: 100%;
}

.body-restore .container .reset-password-form {
    padding: 30px;
}

.body-restore .container .reset-password-form .avatar {
    margin-bottom: 20px;
    text-align: center;
}

.body-restore .container .reset-password-form .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.body-restore .container .reset-password-form .form-header h1 {
    margin: 0;
    color: #333;
    text-align: center;
}

.body-restore .container .reset-password-form #reset-password-form .form-group {
    margin-bottom: 15px;
}

.body-restore .container .reset-password-form #reset-password-form .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.body-restore .container .reset-password-form #reset-password-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.body-restore .container .reset-password-form #reset-password-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #6e8efb;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.body-restore .container .reset-password-form #reset-password-form button:hover {
    background: #5a7ceb;
}

.invalid-feedback {
    display: block !important;
    margin-bottom: 10px;
}